// Place all the styles related to the business_cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .h_li {
//   padding: 20px;
//   display: inline-block;
//   list-style: none;
//   color: white;
// }
a:link{
  color:#fff;
}
a:link{
  color:#fff;
}
a:hover{
  color: #fff;
}
a:active{
  color: #fff;
}
a.action_link{
  text-decoration: none;
}
nav {
  color: white;
  list-style: none;
  background-color: blue;
  margin-right: 25px;
  list-style: none;
}

.h_nav {
  width: 100%;
  li {
    color: white;
    display: inline-block;
    margin: .5em;
    padding: .5em;
    // background-color: white;
    &:hover {
      background-color: white;
      color: white;
    }
  }
}

.v_nav {
  position: absolute;
  right: 0px;
  top: 60px;
  padding: 1em;
  width: 130px;
  font-size: 20px;
  border-radius: 40px;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    color: white;
    list-style-type: none;
  }
}
