// Place all the styles related to the business_cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0px;
  background-image: url("http://static1.squarespace.com/static/51e0ad2ee4b0eadeb542cbe5/51e6fdf2e4b0b6641cc883b5/51e6fe14e4b07e6be1432a32/1374092824603/background3_widescreen_16X9.jpg");  
  // background-color: #FEFFA9;
  background-size: cover;
  font-family: arial;
}

.container{
}

.presets {
  margin-left: 800px;
  }

.presets div{
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #92B3FF;
  text-decoration: none;
    // border: 1px solid black;
}

.sidebar{
  float: right;
  // border: 1px solid black;
  
}

.create_button{
  color: black;
  display: block;
  float: right;
  text-decoration: none;
  background-color: #81FFD4;
  padding: 5px;
  width: 100px;
  height: 50px;
  margin-top: 50px;
  position: fixed;
  margin-left: 90px;
  text-align: center;
    // border: 1px solid black;

}

.sidebar_form{
  color: black;
  display: inline;
  float: right;
  margin-top: 130px;
  text-decoration: none;
  height: 340px;
  width: 200px;
  background-color: rgba(0,93,116,0.8);
  // background-color: #FFA9F3
  // border: 1px solid black;
}

.card{
  height: 300px;
  width: 500px;
  margin-left: 420px;
  margin-top: 150px;
  // background-color: #FFAE85;  
  // border: 1px solid black;
}

.front {
  font-size: 1em;
  // border: 1px solid black;
  text-align: center;
}

.back {
  font-size: 1em;
  // border: 1px solid black;
  text-align: center;
}

.pic {
  height: 150px;
  width: 150px;
  // border: 1px solid black;
}

footer{
  background-color: rgba(0,93,116,0.8);
  height: 91px;
  margin-top: 150px;
  margin-bottom: 0px;
  // border: 1px solid black;
}

.segment{
  width: 100px;
  display: inline-block;
  margin-left: 125px;
  margin-right: 125px;
  margin-top: 20px;
  text-align: center;
  // background-color: #84FF9B;
  // border: 1px solid black;
}

