  <div class="back" style="background-color: #CCC;">
    <div class="pic">
     <p><%= image_tag @card.avatar.url(:medium) %></p>
    </div>
     <p id="web_url"><%= @card.web_url%></p>
  </div>
</div>