<h1>Index</h1>
<div class="card">
<%= link_to 'new card', new_business_card_path, class: 'bcard', remote: true %>
    <div class="front">
        <p>User Name</p>
        <p>Company Name</p>
    </div>
        <%= render 'back' %>
</div>


